 ul{
    list-style: none;
}

/*
*{
    color: black;
}

p,
ul,
h1,
h2,
h3{
    background-color: yellow;
}

.section-title{
    background-color: tomato;
    width: 100px;
}

#title{
    font-size: 48px;
}

.list p {
    background-color: yellowgreen;
} */

/* ul > li{
    color: blueviolet;
} */

/* h3 + p{
    color: brown;
} */

/* h3 ~ p{
    color: tomato;
} */

/* a[href]{
    color: red;
} */
/* 
section > ul{
    background-color: green;
}

li + li{
    color: red;
} */

/* body{
    color: blue;
} */


/* .section-title{
    background-color: brown;
}

h3{
    font-size: 24px;
    color: red;
}

ul{
    border: 1px solid black;
} */

/* .hero-button{
    background-color: blueviolet;
}

.hero-button:hover,
.hero-button:focus{
    background-color: brown;
    border-radius: 50%;
}

.hero-button:disabled{
    background-color: black;
} */
/* 
:nth-child(odd) — непарні дочірні елементи;
:nth-child(even) — парні дочірні елементи;
:nth-child(3n) — кожен третій елемент серед дочірніх;
:nth-child(n+2) — обирає всі елементи, починаючи з другого;
:nth-child(-n+2) - навпаки, обирає перші два;
:nth-child(3) — обирає третій дочірній елемент;
:first-child — дозволяє оформити тільки перший дочірній елемент тега;
:last-child — дозволяє оформити тільки останній дочірній елемент тега;
:only-child — обирає елемент, що є єдиним дочірнім тегом;
:empty — обирає елементи, які не мають дочірніх тегів; */

